alembic
banal
blinker
chardet
click
configobj
cryptography
dataset
Flask
future
idna
itsdangerous
Jinja2
jsonpatch
jsonpointer
keyring
keyrings.alt
Mako
MarkupSafe
normality
oauthlib
peewee
prettytable
pyasn1
pycrypto
Pygments
pygobject
PyJWT
pyTelegramBotAPI
python-dateutil
python-editor
pyxdg
PyYAML
requests
SecretStorage
six
SQLAlchemy
sqlite-web
urllib3
Werkzeug
yandex-money-sdk
phonenumbers
